*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: 4000px; }

.page {
  margin-top: 5rem; }

.svg-image {
  width: 100% \9; }

.icon-sm {
  font-size: 2rem; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.custom-mg-left-big {
  margin-left: 10rem; }

.custom-mg-left-medium {
  margin-left: 5rem; }

.custom-mg-left-sm {
  margin-left: 3rem; }

.custom-mg-top-big {
  margin-top: 10rem; }

.custom-mg-top-medium {
  margin-top: 5rem; }

.inp {
  padding: 0.6rem 0.6rem 0.6rem 1rem;
  border: 1px solid #707070;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: bold; }
  .inp::placeholder {
    color: rgba(112, 112, 112, 0.39); }
  .inp:focus {
    outline: none; }

.custom-nav {
  background-color: #98b8d4;
  color: #ffffff;
  padding: 0.8rem;
  font-size: 1.6rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.75); }
  .custom-nav__logo:hover {
    cursor: pointer; }
  .custom-nav__user *:not(:last-child) {
    margin-right: 1.8rem; }

.section-header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 6rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  color: #707070;
  align-items: center; }
  .section-header__left-line, .section-header__right-line {
    background-color: #707070;
    height: 0.2rem;
    width: 100%; }
  .section-header__heading {
    text-align: center;
    width: max-content;
    white-space: nowrap;
    margin: 0 2rem 0 2rem; }

.custom-btn {
  padding: 0.5rem 2rem;
  display: inline;
  font-size: 1.6rem;
  background-color: #fb2626;
  color: white;
  border-color: transparent;
  border-radius: 0.3rem;
  transition: background-color 0.4s; }
  .custom-btn:hover, .custom-btn:active {
    background-color: #bc0000;
    border-color: transparent; }
  .custom-btn:active {
    transform: translateY(3px); }
  .custom-btn:focus {
    outline: none !important; }

.links {
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 5rem; }
  .links .search__form {
    font-size: 1.6rem;
    color: rgba(112, 112, 112, 0.39); }
  .links .search__input-container {
    width: 100%;
    position: relative; }
    .links .search__input-container i {
      position: absolute;
      right: 1.2rem;
      top: 50%;
      transform: translateY(-50%); }
    .links .search__input-container input {
      width: 100%; }
  .links .navlinks {
    font-size: 2.6rem;
    font-weight: bold;
    color: black;
    flex-wrap: nowrap; }
  .links .cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b7b7;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    padding: 1.5rem;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer; }
    .links .cart__circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: #f83131;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      top: -0.2rem;
      right: 0;
      font-size: 1.1rem; }
  .links .cart-info {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: bold; }
    .links .cart-info__title {
      display: block;
      color: #b9b7b7; }
    .links .cart-info__amount {
      display: block; }
    .links .cart-info__arrow {
      cursor: pointer; }

.my-carousel {
  position: relative; }
  .my-carousel__opacity-bg {
    height: 100%;
    width: 35%;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
    position: absolute; }
  .my-carousel__description-container {
    height: 100%;
    width: 30%;
    color: white;
    position: absolute;
    z-index: 101;
    font-size: 2rem; }
    .my-carousel__description-container .description {
      width: 100%;
      margin-top: 7rem; }
      .my-carousel__description-container .description__header {
        font-size: 3.5rem; }
      .my-carousel__description-container .description p {
        margin-top: 2.5rem; }
    .my-carousel__description-container .checkout {
      display: flex;
      width: 100%;
      margin-bottom: 4rem;
      position: absolute;
      bottom: 0;
      font-size: 2.5rem;
      justify-content: center;
      align-items: center; }
  .my-carousel img {
    height: 60rem; }

.recency__column {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem; }

.recency__pic img {
  width: 100%;
  height: 30rem; }

.inspiration {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem; }
  .inspiration__pic img {
    width: 100%;
    height: 60rem; }
