.links {
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 6rem;

  .search {
      &__form {
      font-size: 1.6rem;
      color: $text-input-1;
      }
      
      &__input-container {
        width: 100%;
        position: relative;

        i {
          position: absolute;
          right: 1.2rem;
          top: 50%;
          transform: translateY(-50%)
        }

        input {
          width: 100%;
        }
      }
  }

  .navlinks {
    font-size: 2.6rem;
    font-weight: bold;
    color: $text-black;
    flex-wrap: nowrap;

    &__item {

      a {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-1;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    padding: 1.5rem;
    color: $text-white;
    font-size: 2rem;
    cursor: pointer;
    


    &__circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: $red-1;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      top: -0.2rem;
      right: 0;
      font-size: 1.1rem;
    }
  }

  .cart-info {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;

      &__title {
        display: block;
        color: $text-grey-1;
      }

      &__amount {
        display: block;
      }
      &__arrow {
        cursor: pointer;
      }
    }

}