*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  height: 3000px;
}

.page {
  margin-top: 5rem;
}

// ie9 fix for bootstrap
.svg-image {
  width: 100% \9;
}
.icon-sm {
  font-size: 2rem;
}