$main-color: #98b8d4;
$grey-1: #b9b7b7;
$grey-2: #707070;
$red-1: #f83131;
$red-2: #fb2626;
$red-3: #bc0000;
$black-1: rgb(0, 0, 0);

// text
$text-white: #ffffff;
$text-input-1: rgba(112, 112, 112, 0.39);
$text-black: rgb(0, 0, 0);
$text-grey-1: #b9b7b7;
$text-grey-2: #707070;

// icons
$icon-yellow: #daef45;

$border-color-1: #707070;
