$main-color: #98B8D4;
$grey-1: #B9B7B7;
$red-1: #F83131;

// text
$text-white: #FFFFFF;
$text-input-1: rgba(112, 112, 112, 0.39);
$text-black: rgb(0, 0, 0);
$text-grey-1: #B9B7B7;

$border-color-1: #707070;