.custom-nav {
  background-color: $main-color;
  color: $text-white;
  padding: 1.3rem;
  font-size: 1.6rem;
  justify-content: space-between;
  flex-wrap: nowrap;

  &__logo {
    &:hover {
      cursor: pointer;
    }
  }

  &__user {
    & *:not(:last-child) {
      margin-right: 1.8rem;
    }
  }

}