.section-header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 6rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  color: $text-grey-2;
  align-items: center;

  &__left-line,
  &__right-line {
    background-color: $grey-2;
    height: 0.2rem;
    width: 100%;
  }

  &__heading {
    text-align: center;
    width: max-content;
    white-space: nowrap;
    margin: 0 2rem 0 2rem;
  }
}
